body{
    display: flex;
    justify-content: center;
}
.lottoContainer{
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 500px;
    border: solid black 1px;
    height: 300px;
}