body {
    display: flex;
    justify-content: center;
    font-family: monospace;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 138px);
    box-sizing: border-box;
    background: linear-gradient(to right, lightgray, gray);

}

.header,
.footer {
    box-shadow: inset 4px 4px 42px 11px rgba(0, 0, 0, 0.5);
    width: 100%;
    border: solid black 1px;
    height: 50px;
    text-align: center;
    align-content: center;
}

.header {
    position: fixed;
    top: 0;
    font-size: 22px;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
}

.lottoContainer {
    box-shadow: inset 4px 4px 60px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
    min-width: 260px;
    border: solid black 1px;
    margin-top: 172px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

h2,
h3,
h4,
p {
    text-align: center;
    padding-inline: 10px;
}

h4 {
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
    line-height: 0.5;
    justify-self: center;
    width: 115px;
}

input {
    display: block;
    width: 31px;
    margin: 5px;
    text-align: center;
}

.d-none {
    display: none;
}

#submitButton,
#reloadButton,
#moreWorthButton {
    box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #f9cd5f;
}

#reloadButton{
    width: 250px;
}


#moreWorthButton {
    margin-top: 10px;
    background-color: #9b5a5a;
    width: 250px;
}

#resultContainer {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.reloadButton {
    box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#btcText {
    font-family: serif;
    font-size: small;
}

#additionCost {
    color: rgb(169 0 0 / 82%);
}